Flask==1.1.2
flask-marshmallow==0.11.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.1
Flask-RESTful==0.3.8
marshmallow==3.5.1
hyper==0.7.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
pytest-flask==1.0.0
pytest==5.4.1
pytest-mock==3.1.0
requests==2.23.0
